body {
  font-family: sans-serif;
  padding: 2rem;
  background: #f8f8f8;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  max-width: 300px;
}

input,
textarea,
select {
  padding: 0.5rem;
  font-size: 1rem;
}

input[type="file"] {
  margin-bottom: 1rem;
}

button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
}
